.container {
  text-align: center;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  flex-flow: row;
}

button {
  margin: 0 10px;
}

.getVotesButton {
  margin-top: 20px;
}

.resultsContainer {
  text-align: center;
  margin-top: 20px;
}

table,
td {
  text-align: center;
  border: 1px solid black;
}
